#drop-wrap {
  /* 固定配置 */
  position: absolute;
  left: 0;
  top: 0;
  /* イベント無効化 */
  pointer-events: none;
  /* 子要素配置 */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.drop {
  /* 枠 */
  border-style: dashed;
  border-color: gray; 
  /* 動的 */
  will-change: filter;
}

.over {
  /* 色 */
  filter: brightness(2.5);
}
