.def-vite-card {
  padding: 1em;
  text-align: center;
}

.def-vite-button {
  width: 128px;
  height: 48px;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  color: #646cff;
  cursor: pointer;
  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color 0.25s;
}

.def-vite-button:hover {
  border-color: #646cff;
}

.def-vite-button:focus,
.def-vite-button:focus-visible {
  border-color: #fff;
}

@media (prefers-color-scheme: dark) {
  .def-vite-button {
    background-color: #1a1a1a;
  }
}

@media (prefers-color-scheme: light) {
  .def-vite-button {
    background-color: #f9f9f9;
  }
}
